.dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dialog-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
    text-align: center;
  }
  

  .dialog-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
    text-align: center;
  }

  .dialog-error {
    color: red;
    margin-bottom: 10px;
  }
  

  .dialog-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  

  .dialog-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    border: none;
  }
  
  .dialog-button.generate-button {
    background-color: #0081c9;
    color: white;
  }
  
  .dialog-button.close-button {
    background-color: #ccc;
  }
  